:root{
    --primary:#0fd85cc4;
    --secondary:#1f8f6a;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
